.hourly {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 13;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  text-shadow: 2px 2px 0px #333, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.hourly-box {
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 2px;

  &:not(:last-child) {
    margin-right: 5px;
  }
}
