body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(http://most.ks.ua/images/_news/23684.jpg);
  background-size: contain;
  font-family: sans-serif;
  font-size: 14px;
  color: #ccc;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
  height: calc(100vh - 4rem);
}

.current,
.hourly {
  background-color: rgba(100, 100, 100, 0.6);
}

.current {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
}

.daily {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 7;
}

.btn-box {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.daily-box {
  background-color: rgba(100, 100, 100, 0.6);
  display: none;
}

.tab--active {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dbtn {
  display: block;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  color: #888;
  background-color: rgba(100, 100, 100, 0);
}
.daily--active {
  background-color: rgba(100, 100, 100, 0.6);
  color: #ccc;
  text-shadow: #000 5px 5px 10px;
  font-weight: bold;
}

.daily__wrapper {
  display: flex;
}

.hourly {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 13;
  display: flex;
  overflow-x: scroll;
}

.hourly-box {
  border: 1px solid #fff;
}

.logo {
  padding: 10px 20px 10px;
  position: relative;
}

.logo::before {
  content: "Kherson";
  color: #c28;
  text-shadow: #000 1px 0 10px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 5px;
}

.logo::after {
  content: "";
  height: 70px;
  width: 70px;
  background-image: url("http://openweathermap.org/img/wn/02d@2x.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 140px;
}

.logo__link {
  display: block;
  text-decoration: none;
  color: #ccc;
  text-shadow: #000 1px 0 10px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
}
