.current {
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.current {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
}
