.daily {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 7;
}

.btn-box {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 10%;
}

.daily-box {
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab--active {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dbtn-item {
  position: relative;
  flex-grow: 1;
}

.dbtn {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #888;
  background-color: rgba(100, 100, 100, 0);
}

.daily--active {
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.75);

  color: #ccc;
  text-shadow: #000 5px 5px 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.daily__wrapper {
  display: flex;
  height: 90%;
}
