.hourly {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 13;
  display: flex;
  overflow-x: scroll;
  background-color: rgba(100, 100, 100, 0.6);
}

.hourly-box {
  border: 1px solid #fff;
}
